In [3]:
import pandas as pd
df = pd.read_csv("/home/jdata/Escritorio/projects/dataAnalyst/dataPractices/crimenMeridaNOV2024.csv")
df.head()

,codigo,fecha,descripcion,ubicación,estado,impacto
0,c001,01/11/24,robo a mano armada,merida casco central,resuelto,alto
1,c002,02/11/24,hurto,merida casco central,resuelto,medio
2,c003,03/11/24,hurto,merida casco central,resuelto,medio
3,c004,04/11/24,hurto,merida casco central,resuelto,medio
4,c005,05/11/24,homicidio,los sausales,sin resolver,alto

In [10]:
#contando los numeros de delitos descritos.
df.groupby(by = "descripcion")["estado"].count()

descripcion
acceso a propiedad privada     8
homicidio                      8
hurto                          5
robo a mano armada            13
secuestro                      3
Name: estado, dtype: int64

In [11]:
#mostrando un resumen estadistico de los numeros de delitos descritos.
df.groupby(by = "descripcion")["estado"].describe()

                           count unique           top freq
descripcion
acceso a propiedad privada     8      1      resuelto    8
homicidio                      8      2  sin resolver    7
hurto                          5      1      resuelto    5
robo a mano armada            13      2  sin resolver   11
secuestro                      3      1  sin resolver    3

In [17]:
#realizando operacion de concatenacion entre grupos organizados
df.groupby(by = "descripcion")["estado"].max() + df.groupby(by = "descripcion")["estado"].min()

descripcion
acceso a propiedad privada            resueltoresuelto
homicidio                       sin resolveren proceso
hurto                                 resueltoresuelto
robo a mano armada                sin resolverresuelto
secuestro                     sin resolversin resolver
Name: estado, dtype: object